# Dependencies
node_modules/

# Environment variables
.env

# Output files and user data
output/*
!output/.gitkeep

combined_transcripts/*
!combined_transcripts/.gitkeep

summaries/*
!summaries/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS specific files
.DS_Store
Thumbs.db
